<form action="/result2" method="POST">
    <label for="github">Add Github Username:</label>
    <input type="text" placeholder="username" id="github" name="github">
    <input type="submit" value="SUBMIT  ">
</form>