<h2 class="title">Form 1</h2>
<form action="/result1" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" placeholder="Your first name" name="firstName"
    id="firstName"><br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location"><br>
    <label for="github">Github Username:</label>
    <input type="text" id="github" name="github"><br>
    <button type="submit">Submit</button>
</form>
